body {
    margin:0;
    background-color:#ecece4;
}

*{box-sizing:border-box;}

/* defined colors

#d73d6c
#c8a784
#e9d5af
#ecece4
#3f2c26
#fcf9f4

*/

section{
  height: 100vh;
  width: 100vw;
}

.headline_container{
  position: relative;
  width: 80%;
  top: 20%;
  height: auto;
  margin: auto;
  }

h1{
  color:#fcf9f4;
  font-family: 'Handlee', cursive;
  font-size: 52px;
  text-align: center;
}

/*_____________________________ pink speech bubble______________*/

.bubble {
  background-color: #d73d6c;
      color: #fff;
      width: 70%;
      height: 20%;
      margin: auto;
      padding: -19px 49px;
      position: relative;
    }

.bubble:after, .bubble:before {
  border-bottom: 43px solid transparent;
  border-left: 51px solid #d73d6c;
  bottom: -43px;
  content: '';
  position: absolute;
  right: 131px
}

svg{
  width:100%;
  height: auto;
}

.graphics_germany{
  width: 35%;
  height: auto;
  position: absolute;
  left: 1%;
  top: 30%;
  margin-left: 2%;
}

.graphics_deckel{
  width: 40%;
  height: auto;
  margin: auto;
  position: absolute;
  left: 1%;
  top: 142%;
}

.graphics_becher_unten{
  width: 40%;
  height: auto;
  margin: auto;
  position: absolute;
}

.graphics_ton{
  width: 40%;
  height: auto;
  margin: auto;
  position: absolute;
  left: 34%;
  top: 290%;
}

.graphics_becher{
  width: 40%;
  height: auto;
  margin: auto;
  position: absolute;
  left: 30%;
}


.graphics_auto{
  width: 60%;
  height: auto;
  margin: auto;
  position: absolute;
  left: 68%;
  top: 48%;
}

.graphics_becher_waage{
  width: 30%;
  height: auto;
  margin: auto;
  position: absolute;
  left: -5%;
  top: 88%;
}

h2{
  color:#3f2c26;
  font-family: 'Handlee', cursive;
  font-size: 60px;
  text-align: center;
  line-height: 120px;
  margin_top:5%;
}

/*_______Countdown_________*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
#the-final-countdown {
  background: #333;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #eee;
  text-shadow: 1px 1px 5px black;
  padding: 1rem 0;
  font-size: 3rem;
  border: 1px solid #000;
}

footer {
  background-color: #3f2c26;
  width: 100vw;
  height: 100vh;
}

p{
  color:#ecece4;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0.1px;
}

.footer {
  position: absolute;
  left: 3%;
  margin:auto;
  width:80%;
  height: auto;
  color:#ecece4;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}
