body {
   margin:0;
   background-color:#ecece4 ;
}

*{box-sizing:border-box;
  text-decoration: none;
}



/* defined colors

#d73d6c
#c8a784
#e9d5af
#ecece4
#3f2c26
#fcf9f4

*/

section{
  weight: 100vw;
}

a{
  text-decoration: none;
}

.headline_container{
 position: relative;
 width: 80%;
 height: 20%;
 margin: auto;
 padding-top:.25em;
 padding-bottom:.25em;
 }

h1{
 color:#fcf9f4 ;
 font-family: 'Playball';
 font-size: 52px;
 text-align: center;
}

/*_____________________________ pink speech bubble______________*/

.bubble {
     background-color: #d73d6c ;
     color: #fff;
     /*width: 70%;*/
     margin: auto;
     position: relative;
     margin-top: 10vh;
     max-width:60%;
   }

.bubble h1 {
 margin: 0;
 padding: .5em;

}

.bubble:after {
 border-bottom: 43px solid transparent;
 border-left: 51px solid #d73d6c ;
 bottom: -43px;
 content: '';
 position: absolute;
 right: 131px
}

svg{
 width:100%;
 height: auto;
}

.graphics_germany{
 width: 30%;
 height: auto;
 position: absolute;
 margin-left: 2%;
 margin-top:5px;
 margin-bottom:30px;
 display: inline-block;
}

/*___________________________________________bestandteile_______________________________________*/

h4{
 color:#fcf9f4 ;
 font-family: 'Alegreya Sans', sans-serif;
 font-size: 16px;
 text-align: center;
 text-decoration: none;

}

.bubble-arrow {
 color: #fff;
 width: 80%;
 margin-left: 75px;
 margin-bottom: 10px;
 position: relative;
}

.bubble-arrow-1 {
 margin-bottom: 40px;
 margin-top:0;
 width:30%;
 text-decoration: none;

}
.bubble-arrow-2 {
 margin-bottom: 40px;
 width:30%;

}
.bubble-arrow-3 {
 margin-bottom: 40px;
 width:30%;

}

.bubble-arrow h4 {
 margin: 0;
 background-color: #d73d6c ;
 padding-top: 10px;
 padding-bottom: 10px;
}

.bubble-arrow h4:before {
 content: '';
 background-color: #d73d6c ;
 display: block;
 width: 27px;
 height: 27px;
 position: absolute;
 top: 6px;
 left: -14px;
 transform: rotate(45deg);
}

.bubble-arrow:hover h4,
.bubble-arrow:hover h4:before {
  transition:1s;
  cursor:pointer;
  background-color: #BA1E52;
}


.container_bestandteile{
 width:100%;
 position:relative;
 height:80%;
 margin-left:15%;
}

.bestandteile_container_graphics {
 display: inline-block;
 width: 30%;
 vertical-align: middle;
}



.bestandteile_container_beschreibung {
 display: inline-block;
 width: 60%;
 vertical-align: middle;
 text-decoration: none;

}



.bestandteile_container_graphics img{
 width: 100%;
 display: block;
}


.graphics_becher img {
 height: 60vh;
 margin-left: 20%;
}



/*______________________________________________Entsorgung___________________________________________*/

.container_entsorgung{
  width:100%;
  position:relative;
  height:80%;
}

.entsorgung_container_graphics{
  width: 100%;
  height: auto;
  display: block;
}

.entsorgung_container_beschreibung{
  display: block;
  width: 100%;
  height: auto;
}

.entsorgung_text{
color:#fcf9f4 ;
font-family: 'Alegreya Sans', sans-serif;
font-size: 16px;
text-align: center;
position: relative;
 margin: 0;
 background-color: #d73d6c ;
 padding-top: 18px;
 padding-bottom: 18px;
 max-width: 680px;
 margin-top: -40px;
 margin-left: auto;
 margin-right: auto;
}


.entsorgung_text:before {
 content: '';
 background-color: #d73d6c ;
 display: block;
 width: 26px;
 height: 26px;
 position: absolute;
 top: -13px;
 left: calc(50% - 13px);
 z-index: 5;
 transform: rotate(45deg);
}

.entsorgung_text span {
  position: relative;
  z-index: 10;
}

.graphics_waage img {
  width: 70%;
  margin-left:15%;
  margin-right:15%;
}

.speech_bubbles_total{
  width:75%;
  margin:auto;
  position:relative;
}


.speech-bubble-1{
  width: 25%;
  padding: 0.1em;
  margin: 5%;
  float: left;
}


.speech-bubble-2{
    width: 10%;
    padding: 0.1em;
    margin: 5%;
    float: left;
}

.speech-bubble-2 .entsorgung_text:before {
  display: none;
}

.speech-bubble-3{
  width: 25%;
  padding: 0.1em;
  margin: 5%;
  float: left;
}


/*______________________________________Recycling________________________________________*/

.container_Recycling{
  width:80%;
  position:relative;
  height:auto;
  margin:auto;

}

.recycling_beschreibung{
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  }

.graphics_flamme{
  display: inline-block;
  width: 30%;
  margin-left: 12%;
  vertical-align: middle;
  }

.graphics_flamme img{
  width: 100%;
  display: block;
    }


.recycling_bubble_text{
  color: #fcf9f4;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  position: relative;
  margin: 0;
  background-color: #d73d6c;
  padding: 30px;
  max-width: 680px;
  margin-top: -160px;
  margin-left: 20%;
  margin-right: auto;
}


.recycling_bubble_text:before{
 content: '';
 background-color: #d73d6c ;
 display: block;
 width: 26px;
 height: 26px;
 position: absolute;
 bottom: -13px;
 left: 48px;
 z-index: 5;
 transform: rotate(45deg);
}




/*__________________________xy________________*/

h2{
 color: #3f2c26 ;
     font-family: 'Handlee', cursive;
     font-size: 60px;
     text-align: center;
     line-height: 120%;
     margin-top: 0.75em;
}

/*_______Countdown_________*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,400);

.animated-germany-map {
  display:inline-block;
  width: 50%;
  vertical-align: middle;
  max-height: 80vh;
  margin-top: 5vh;
}

.coffeeRow:nth-child(even) {
    animation: wiggleEven 5s infinite;
}

.coffeeRow:nth-child(odd) {
    animation: wiggleOdd 5s infinite;
}


@keyframes wiggleEven{
	0%{
    transform: translateX(-30px);
	}
	50%{
    transform: translateX(30px);
	}
	100%{
    transform: translateX(-30px);
	}
}

@keyframes wiggleOdd{
	0%{
    transform: translateX(50px);
	}
	50%{
    transform: translateX(-50px);
	}
	100%{
    transform: translateX(50px);
	}
}

/*_______Countdown_________*/


.container_countdown{
  width:35%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 5vw;
  padding-right: 2vw;
}
#the-final-countdown p{
  font-size:50px;
  color:#fff;
  margin:0 0 0 10px;


}


#the-final-countdown {
  background: #3f2c26;
  color:#fff;
  width:100%;
  height:10vh;

}
#becher-bis-jetzt p{
  font-size:50px;
  color:#fff;
  margin:5px 0 0 10px;
}

#becher-bis-jetzt{
  background:#d73d6c;
  color:#fff;
  width:100%;
  height:10vh;
 }

/*_______Popover________*/

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
  outline: 0;
}

/*_______Alternativen________*/

.container_Alternativen_l{
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.container_Alternativen_l img{
  max-width: 400px;
  margin-left: 40%;

}

.container_Alternativen_r{
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.container_Alternativen_r img{
  max-width: 500px;
  margin-left: 30%;
  padding-left:20px;
}



/*_______Footer________*/


footer {
 background-color: #3f2c26 ;
 width: 100vw;
 height: 100vh;
}

p{
 color:#ecece4 ;
 font-family: 'Alegreya Sans', sans-serif;
 font-size: 12px;
 text-align: left;
 letter-spacing: 0.1px;
  text-decoration: none;
}

.footer {
 position: absolute;
 left: 3%;
 margin:auto;
 width:80%;
 height: auto;
 color:#ecece4 ;
 font-family: 'Alegreya Sans', sans-serif;
 font-size: 14px;
}
