body {
    margin:0;
    background-color:#ecece4;
}

*{box-sizing:border-box;}

/* defined colors

#d73d6c
#c8a784
#e9d5af
#ecece4
#3f2c26
#fcf9f4

*/

section{
  height: 100vh;
  width: 100vw;
}

.headline_container{
  position: relative;
  width: 80%;
  top: 20%;
  height: auto;
  margin: auto;
  }

h1{
  color:#fcf9f4;
  font-family: 'Handlee', cursive;
  font-size: 52px;
  text-align: center;
}

/*_____________________________ pink speech bubble______________*/

.bubble {
  background-color: #d73d6c;
      color: #fff;
      width: 70%;
      height: 20%;
      margin: auto;
      padding: -19px 49px;
      position: relative;
    }

.bubble:after, .bubble:before {
  border-bottom: 43px solid transparent;
  border-left: 51px solid #d73d6c;
  bottom: -43px;
  content: '';
  position: absolute;
  right: 131px
}

svg{
  width:100%;
  height: auto;
}

.graphics_germany{
  width: 35%;
  height: auto;
  position: absolute;
  margin-left: 2%;
}

/*___________________________________________bestandteile_______________________________________*/

.container_bestandteile{
  width:100%;
  position:relative;
  height:80%;
}

.graphics_deckel{
  width: 40%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 26%;

}

.graphics_becher_unten{
  width: 40%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 26%;
}



.graphics_becher{
  width: 40%;
  height: auto;
  margin: auto;
  position: absolute;
  left: 30%;
}


.graphics_auto{
  width: 60%;
  height: auto;
  margin: auto;
  position: absolute;

}

.graphics_waage{
  width: 30%;
  height: auto;
  margin: auto;
  position: absolute;

}

h2{
  color:#3f2c26;
  font-family: 'Handlee', cursive;
  font-size: 60px;
  text-align: center;
  line-height: 120px;
  margin_top:5%;
}

/*_______Countdown_________*/


.container_countdown{
  width:30%;
}

p{
  color:#000;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0.1px;
}

#the-final-countdown p{
  font-size:50px;
  color:#fff;
  margin:0 0 0 5px;


}

#the-final-countdown {
  background: #3f2c26;
  color:#fff;
  width:25vh;
  height:10vh;
  margin-left:20vh;
  margin-top:30vh;

}

#becher-bis-jetzt p{
  font-size:50px;
  color:#fff;
  margin:5px 0 0 5px;
}

#becher-bis-jetzt{
  background:#d73d6c;
  color:#fff;
  width:25vh;
  height:10vh;
  margin-left:20vh;
 }

footer {
  background-color: #3f2c26;
  width: 100vw;
  height: 100vh;
}



.footer {
  position: absolute;
  left: 3%;
  margin:auto;
  width:80%;
  height: auto;
  color:#ecece4;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}
