body {
   margin:0;
   background-color:#ecece4 ;
}

*{box-sizing:border-box;}

/* defined colors

#d73d6c
#c8a784
#e9d5af
#ecece4
#3f2c26
#fcf9f4

*/

section{
 height: 100vh;
 width: 100vw;
}

.headline_container{
 position: relative;
 width: 80%;
 height: 20%;
 margin: auto;
 }

h1{
 color:#fcf9f4 ;
 font-family: 'Handlee', cursive;
 font-size: 52px;
 text-align: center;
}

/*_____________________________ pink speech bubble______________*/

.bubble {
     background-color: #d73d6c ;
     color: #fff;
     width: 70%;
     margin: auto;
     position: relative;
     margin-top: 10vh;
   }

.bubble h1 {
 margin: 0;
 padding: .5em;
}

.bubble:after {
 border-bottom: 43px solid transparent;
 border-left: 51px solid #d73d6c ;
 bottom: -43px;
 content: '';
 position: absolute;
 right: 131px
}

svg{
 width:100%;
 height: auto;
}

.graphics_germany{
 width: 35%;
 height: auto;
 position: absolute;
 margin-left: 2%;
}

/*___________________________________________bestandteile_______________________________________*/

h4{
 color:#fcf9f4 ;
 font-family: 'Alegreya Sans', sans-serif;
 font-size: 16px;
 text-align: center;
}

.bubble-arrow {
 color: #fff;
 width: 80%;
 margin-left: 80px;
 margin-bottom: 10px;
 position: relative;
}

.bubble-arrow-1 {
 margin-bottom: 40px;
}

.bubble-arrow h4 {
 margin: 0;
 background-color: #d73d6c ;
 padding-top: 10px;
 padding-bottom: 10px;
}

.bubble-arrow h4:before {
 content: '';
 background-color: #d73d6c ;
 display: block;
 width: 27px;
 height: 27px;
 position: absolute;
 top: 6px;
 left: -14px;
 transform: rotate(45deg);
}

.container_bestandteile{
 width:100%;
 position:relative;
 height:80%;
}

.bestandteile_container_graphics {
 display: inline-block;
 width: 30%;
 vertical-align: middle;
}



.bestandteile_container_beschreibung {
 display: inline-block;
 width: 60%;
 vertical-align: middle;
}



.bestandteile_container_graphics img{
 width: 100%;
 display: block;
}


.graphics_becher img {
 height: 60vh;
 margin-left: 20%;
}

/*______________________________________________Entsorgung___________________________________________*/
.container_bestandteile{
  width:100%;
  position:relative;
  height:80%;
}

.entsorgung_container_graphics{
  width: 100%;
  height: auto;
  display: block;
}

.entsorgung_container_beschreibung{
  display: block;
  width: 100%;
  height: auto;
  display: inline-block;
}

.graphics_waage{
  width: 80%;
  margin: auto;
}

.graphics_waage img {
  width: 100%;
}


.speech_bubbles_total{
  width:75%;
  height:10%;
  margin:auto;
  position:relative;
}


.speech-bubble-1{
  background-color: #d73d6c;
  width: 25%;
  padding: 0.1em;
  margin: 5%;
  float: left;
}

.speech-bubble-2{
  background-color: #d73d6c;
  width: 10%;
  padding: 0.1em;
  margin: 5%;
  float: left;
}

.speech-bubble-3{
  background-color: #d73d6c;
  width: 25%;
  padding: 0.1em;
  margin: 5%;
  float: left;
}





/*__________________________xy________________*/

h2{
 color: #3f2c26 ;
     font-family: 'Handlee', cursive;
     font-size: 60px;
     text-align: center;
     line-height: 120%;
     margin-top: 0.75em;
}

/*_______Countdown_________*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,400);

.animated-germany-map {
  display:inline-block;
  width: 60%;
  vertical-align: middle;
  max-height: 80vh;
  margin-top: 5vh;
}

.coffeeRow:nth-child(even) {
    animation: wiggleEven 5s infinite;
}

.coffeeRow:nth-child(odd) {
    animation: wiggleOdd 5s infinite;
}


@keyframes wiggleEven{
	0%{
    transform: translateX(-30px);
	}
	50%{
    transform: translateX(30px);
	}
	100%{
    transform: translateX(-30px);
	}
}

@keyframes wiggleOdd{
	0%{
    transform: translateX(50px);
	}
	50%{
    transform: translateX(-50px);
	}
	100%{
    transform: translateX(50px);
	}
}

/*_______Countdown_________*/


.container_countdown{
  width:30%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 5vw;
  padding-right: 2vw;
}
#the-final-countdown p{
  font-size:50px;
  color:#fff;
  margin:0 0 0 5px;


}


#the-final-countdown {
  background: #3f2c26;
  color:#fff;
  width:100%;
  height:10vh;

}
#becher-bis-jetzt p{
  font-size:50px;
  color:#fff;
  margin:5px 0 0 5px;
}

#becher-bis-jetzt{
  background:#d73d6c;
  color:#fff;
  width:100%;
  height:10vh;
 }


/*_______Alternativen________*/

.container_Alternativen_l{
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.container_Alternativen_l img{
  max-width: 400px;
  margin-left: 40%;

}

.container_Alternativen_r{
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.container_Alternativen_r img{
  max-width: 500px;
  margin-left: 30%;
  padding-left:20px;
}



/*_______Footer________*/


footer {
 background-color: #3f2c26 ;
 width: 100vw;
 height: 100vh;
}

p{
 color:#ecece4 ;
 font-family: 'Alegreya Sans', sans-serif;
 font-size: 12px;
 text-align: left;
 letter-spacing: 0.1px;
}

.footer {
 position: absolute;
 left: 3%;
 margin:auto;
 width:80%;
 height: auto;
 color:#ecece4 ;
 font-family: 'Alegreya Sans', sans-serif;
 font-size: 14px;
}
